In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../logs.tsv", sep='\t', names=["dt", "base", "quote", "exchange", 
                                                "bidPrice", "bidQty", "askPrice", "askQty"],
                dtype={"base": "category", "quote": "category", "exchange": "category"})

In [3]:
df

,dt,base,quote,exchange,bidPrice,bidQty,askPrice,askQty
0,1671354205622157200,SAITAMA,USDT,poloniex,0.000951,10039.36000,0.00102,1229.76000
1,1671354205622157200,ETHW,USDD,poloniex,3.104000,30.00000,3.16200,30.00000
2,1671354205622157200,ETHW,USDT,poloniex,3.047000,139.04280,3.07000,3.00000
3,1671354205622157200,ETHF,USDT,poloniex,0.667000,14.91754,0.69800,47.77131
4,1671354205622157200,ETHF,USDD,poloniex,0.639000,3.19394,0.74600,53.12421
...,...,...,...,...,...,...,...,...
8755804,1671354869372111500,AMP,BUSD,binance,0.003350,92039.00000,0.00336,30836.00000
8755805,1671354869372111500,MOB,USDT,binance,1.123000,685.27000,1.12400,2042.80000
8755806,1671354869372111500,UMA,USDT,binance,1.778000,55.30000,1.78100,75.00000
8755807,1671354869372111500,UMA,BUSD,binance,1.775000,54.70000,1.78200,70.30000
8755808,1671354869372111500,UMA,TRY,binance,33.800000,888.14000,33.90000,112.49000